<%= current_user_content do %>
  <div ng-view></div>
<% end %>
<%= visitor_content do %>
  <div class="row">
    <div class="col-md-4 center-columns">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="homepage-header">Git It Done</h1>
        </div>
      </div>
      <div class="row">
      <div class="col-md-12">
          <div class="wrap">
            <p class="form-title">Sign In</p>
            <%= form_for("user", :url => user_session_path) do |f| %>
              <%= f.text_field :email, :autofocus => true, :class=>"", :placeholder => "Email" %>
              <%= f.password_field :password, :placeholder => "Password" %>
              <%= f.submit "SIGN IN", :class => "btn btn-success btn-sm" %>
              <div class="remember-forgot">
                <div class="row">
                  <div class="col-md-6">
                    <div class="checkbox">
                      <%= f.check_box :remember_me %> <%= f.label :remember_me %>
                    </div>
                  </div>
                  <div class="col-md-6 forgot-pass-content">
                    <%= link_to "forgot password?", new_password_path('user'), :class=>"text-muted small" %>
                  </div>
                </div>
              </div>
            <% end %>
              <div class="register">
                <h4 class="register-text">NEW MEMBER?</h4>
                <p class="register-text">Sign up to start creating your lists</p>
                <%= button_to "REGISTER", new_user_registration_path, :class => "btn btn-orange login-text", :method => :get%>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

