<!DOCTYPE html>
<html ng-app="Todo">
<head>
  <title>AngularTodo</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body ng-cloak class="container">
  <%= current_user_content do %>
    <ul class="nav nav-pills" style="margin: 0 auto">
      <li class="active"><a href="#">Git It Done</a></li>
      <li><a ng-click="viewLists()" href="#">My Lists</a></li>
      <li><a ng-click="createList()" href="#/list/new">New List</a></li>
      <li><%= link_to("Settings", edit_user_registration_path) %></li>
      <li><%= link_to("Logout", destroy_user_session_path, method: "delete") %></li>
    </ul>
  <% end %>
  <%= yield %>
  
  <%= javascript_include_tag "application" %>

</body>
</html>
